<html lang="en">
<%- include("../partials/head.ejs") %>
<body>

    <!-- for navbar from the partials file's nav.ejs -->
    <%- include("../partials/nav.ejs") %>

    <h1>I am coming from index.ejs</h1>
    <small> Dynamic date : <%= new Date().toISOString() %></small>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum labore suscipit, assumenda velit blanditiis recusandae cupiditate a quibusdam qui animi adipisci tenetur cumque odit, dolorum consectetur fugiat culpa voluptatum ipsam repellendus neque! Impedit vel quibusdam maxime sit iusto blanditiis doloremque amet maiores ut recusandae? Earum, obcaecati. At culpa rerum dignissimos?</p>
    
</body>
</html>